<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="FacebookAppId" value="850126658409242"/>
    <add key="FacebookAppSecret" value="462354a10f75aa3336781f6706f4e46e"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />

      <add name="Telerik.Web.UI.WebResource" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.ChartHttpHandler" verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=112.213.89.173;Initial Catalog=pipe;Persist Security Info=True;User ID=pipe;Password=P@ssword" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
